#new-berg{
    min-width: 250px;
}

#add-berg{
    margin-bottom: 50px;
}

.hover-craft{
    background: rgb(245, 239, 239);
    margin: 3px;
}

.btn-custo-musto{
    margin: 7px;
}

button{
    min-width: 124px;
}